body{
    background: #5d3f99;
    font-family: Helvetica;
    font: normal 18pt;
}
header{
    text-align: center;
}
section{
    background: rgb(236, 226, 226);
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px black;
}
footer{
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
select#sel{
    border-radius: 1px;
    width: 170px;
}
div#primeira{
    padding: 10px;
}
input#but{
    border-radius: 10px;
    font-family: Roboto sans-serif;

    border: 2px solid grey;
}
div#lista{
    margin-top: 10px;
}
