body{
    background: #a0a0a0;
    font: normal 18pt Times;
}
header{
    text-align: center;
}
section{
    background: rgb(236, 226, 226);
    border-radius: 10px;
    margin: auto;
    padding: 15px;
    width: 500px;
    box-shadow: 5px 5px 10px black;
}
footer{
    text-align: center;
    font-style: italic;
}


